<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>spacetours.io | Packages</title>
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__top">
          <div class="logo">
            <img
              src="/images/spaceship-icon.svg"
              alt="spacetours.io logo"
              style="height: 50px"
            />
            <span>spacetours.io</span>
          </div>
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a href="/" class="header__nav-link">Home</a>
              </li>
              <li class="header__nav-item">
                <a href="/about" class="header__nav-link">About</a>
              </li>
              <li class="header__nav-item">
                <a href="/packages" class="header__nav-link active">Packages</a>
              </li>
              <li class="header__nav-item">
                <a href="/contact" class="header__nav-link">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="header__nav-hamburger">
            <img src="/images/hamburger.svg" alt="hamburger menu" />
          </div>
        </div>
        <div class="header__body">
          <h1 class="big-white">Packages</h1>
        </div>
        <nav class="mobile-nav">
          <ul class="mobile-nav__list">
            <li class="mobile-nav__item">
              <a href="/" class="mobile-nav__link">Home</a>
            </li>
            <li class="mobile-nav__item">
              <a href="/about" class="mobile-nav__link">About</a>
            </li>
            <li class="mobile-nav__item">
              <a href="/packages" class="mobile-nav__link">Packages</a>
            </li>
            <li class="mobile-nav__item">
              <a href="/contact" class="mobile-nav__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="main__content">
        <div class="text-center">
          <h2>Packages</h2>
          <p>Find a package that best suits your wants and needs.</p>
        </div>

        <section class="packages__section">
          <div class="packages__row">
            <% packages.forEach(package => { %>
            <div class="packages__col">
              <a href="/packages/<%= package.id %>/">
                <div class="packages__card">
                  <h3 class="packages__card-title"><%= package.name %></h3>
                  <p class="packages__card-description"><%= package.description %></p>
                  <div class="packages__card-footer">
                    <p class="packages__card-price">$<%= package.price %></p>
                    <p class="packages__card-length"><%= package.length %> days</p>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__content">
        <div class="footer__row">
          <div class="footer__col">
            <div class="logo">
              <img
                src="/images/spaceship-icon.svg"
                alt="spacetours.io logo"
                style="height: 50px"
              />
              <span>spacetours.io</span>
            </div>

            <p class="text-white">
              Space Tours Ltd. <br />
              529 Nickel Rd <br />
              Los Angeles, CA 90017
            </p>
          </div>

          <div class="footer__col text-center">
            <h4 class="text-white">Company</h4>
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">Legal</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Privacy Policy</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Testimonials</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Terms & Conditions</a>
              </li>
            </ul>
          </div>
          <div class="footer__col text-end">
            <h4 class="text-white">Socials</h4>
            <div class="footer__social-links">
              <img
                src="/images/facebook-icon.svg"
                alt="facebook"
                class="footer__social-link"
              />
              <img
                src="/images/instagram-icon.svg"
                alt="facebook"
                class="footer__social-link"
              />
              <img
                src="/images/twitter-x-logo.svg"
                alt="facebook"
                class="footer__social-link"
              />
            </div>
          </div>
        </div>

        <p class="text-white text-center">&copy; spacetours.io, 2160 A.D.</p>
      </div>
    </footer>

    <script>
      const hamburger = document.querySelector(".header__nav-hamburger");
      const mobileNav = document.querySelector(".mobile-nav");

      hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        mobileNav.classList.toggle("active");
      });
    </script>
  </body>
</html>
